.input {
  width: 100%;
  padding: 14px 18px;

  border: 2px solid var(--color-border);
  border-radius: var(--radius-md);

  background: white;

  font-size: 1rem;

  transition: all var(--transition-normal);
}

.input:focus {
  outline: none;

  border-color: var(--color-secondary);

  box-shadow: 0 0 0 4px rgba(200, 155, 60, .15);
}

.input::placeholder {
  color: var(--color-text-light);
}